<div class="login_container">
    <div class="login_background">
        <div class="box_container">
            <div class="box blurred-bg tinted">
                <div class="loginForm">
                    <form>
                        <span class="logo"><img src="./assets/img/logo-transparent.png" /></span>
                        <mat-form-field class="fullWidth">
                            <input matInput placeholder="User name">
                        </mat-form-field>
                        <mat-form-field class="fullWidth">
                            <input type="password" matInput placeholder="Password">
                        </mat-form-field>
                        <mat-checkbox color="primary">Remember Me!!</mat-checkbox>
                        <button class="btn" type="button" mat-button mat-raised-button color="primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>