<div class="login_container">
    <div class="login_background">
        <div class="box_container">
            <div class="app_container">
                <div class="leftDiv">
                    <div class="leftImg"></div>
                    <div class="leftImgBackground"></div>
                </div>
                <div class="rightDiv">
                    <div class="formContainer">
                        <form>
                            <span class="logo"><img src="./assets/img/logo.PNG" /></span>
                            <div class="input_element">
                                <mat-form-field class="fullWidth">
                                    <input matInput placeholder="User name">
                                </mat-form-field>
                            </div>
                            <div class="input_element">
                                <mat-form-field class="fullWidth">
                                    <input type="password" matInput placeholder="Password">
                                </mat-form-field>
                            </div>
                            <div class="rememberClass input_element">
                                <mat-checkbox color="primary">Remember Me!!</mat-checkbox>
                            </div>
                            <div class="input_element">
                                <button class="btn" type="button" mat-button mat-raised-button color="primary">Submit</button>
                            </div>
                            <span class="forgotPwd"><a>Forgot Password?</a></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>